<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
    
        <title> Orange : OpenCV and Ai processing made easy</title>
        <link rel="icon" type="image/png" href="/static/images/orange-fav.png" />
    
        <!--Core CSS -->
        <link rel="stylesheet" href="/static/css/orange-bulma.css">
        <link rel="stylesheet" href="/static/css/orange-core.css">
    
    
        <!-- plugins -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/chosen/chosen.css">
        <link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css">
    
        
    </head>
    

<body>

    <!-- Pageloader -->
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <nav class="navbar mobile-navbar is-hidden-desktop is-hidden-tablet" aria-label="main navigation">
        <!-- Brand -->
        <div class="navbar-brand">
            <a class="navbar>-item" href="home.html">
                <img src="/static/images/logo/orange-icon.svg" alt="">
            </a>

            <!-- Sidebar mode toggler icon -->
            <a id="sidebar-mode" class="navbar-item is-icon is-sidebar-toggler" href="javascript:void(0);">
                <i data-feather="sidebar"></i>
            </a>


        </div>

    </nav>
    <!-- Main Sidebar-->
    <div class="main-sidebar">
        <div class="sidebar-brand">
            <a href="orange_index.html"><img src="/static/images/logo/orange-icon.svg" alt=""></a>
        </div>
        <div class="sidebar-inner">
            <ul class="icon-menu">
                <!-- Shop sidebar trigger -->

                <li>
                    <a href="orange-cv2.html"><i data-feather="video" class="main_color"></i></a>
                </li>




                <li>
                    <a href="orange-ai.html"><i data-feather="eye"></i></a>
                </li>


                <li>
                    <a id="open-filters" href="orange-settings.html"><i data-feather="settings"></i></a>
                </li>



                <!-- Search trigger -->

                <!-- User account -->

        </div>
    </div>
    <!-- /Main Sidebar-->





    <!-- Main wrapper -->
    <div class="shop-wrapper">

        <!-- Search overlay -->
        <div class="search-input-wrapper is-desktop is-hidden">
            <div class="field">
                <div class="control">
                    <input type="text" name="search" autofocus required>
                    <span id="clear-search" role="button"><i data-feather="x"></i></span>
                    <span class="search-help">Enter a search</span>
                </div>
            </div>
        </div>
        <!-- Main section -->
        <div class="section">
            <!-- Container -->
            <div class="container">

                <!-- Account Layout -->
                <div class="columns account-header">
                    <div class="column is-11 is-offset-1 is-tablet-landscape-padded">
                        <!-- Title -->
                        <div class="account-title">
                            <h2>OpenCV Pipeline</h2>
                            <img class="brand-filigrane" src="/static/images/logo/orange-grey.svg" alt="">
                        </div>

                        <!-- Account tabs -->
                        <div class="tabs-wrapper underline-tabs animated-tabs">
                            <div class="tabs">
                                <ul>
                                    <li class="is-active" data-tab="t1"><a>Input</a></li>
                                    <li data-tab="t2"><a>Thresholding</a></li>
                                    <li data-tab="t3"><a>Contour filtering</a></li>
                                    <li data-tab="t4"><a>Output</a></li>
                                </ul>
                            </div>
                            <div id="t1" class="navtab-content is-active">



                                <!-- Chosen select -->
                                <div class="flat-card is-auto is-element-details has-overflow">
                                    <div class="columns is-gapless is-vcentered">

                                        <div class="column is-6 is-component">
                                            <div class="inner">

                                                <label class="dropdown">Pipeline Type </label>

                                                
                                                <div class="control">

                                                    <select id="pipeline_type" class="chosen-select"
                                                        data-placeholder="Select">
                                                        <option label="Payment method"></option>
                                                        <option value="cash">Limelight Standard</option>

                                                    </select>

                                                </div>

                                                <label class="dropdown">Source Image</label>
                                                <div class="control">

                                                    <select id="source_image" class="chosen-select"
                                                        data-placeholder="Select">
                                                        <option label="Payment method"></option>
                                                        <option value="cash">Camera</option>
                                                        <option value="cash">Snapshot</option>

                                                    </select>

                                                </div>

                                                <label class="dropdown">LEDs</label>
                                                <div class="control">

                                                    <select id="leds" class="chosen-select" data-placeholder="Select">
                                                        <option label="Payment method"></option>
                                                        <option value="cash">On</option>
                                                        <option value="credit-card">Off</option>

                                                    </select>

                                                </div>

                                                <label class="dropdown">Orientation</label>
                                                <div class="control">

                                                    <select id="orientation" class="chosen-select"
                                                        data-placeholder="Select">
                                                        <option label="Payment method"></option>
                                                        <option value="cash">Normal</option>

                                                    </select>

                                                </div>

                                                <label class="dropdown">Exposure (ms)</label>
                                                <div class="control">

                                                    <div class="range-slider">
                                                        <input  autocomplete="off" class="slider__range" id="exposure" type="range"
                                                            value="{{ slider['exposure'] }} " min="0" max="500">
                                                        <span class="slider__value">2</span>
                                                    </div>

                                                </div>




                                                <label class="dropdown">White Balance</label>
                                                <div class="control">

                                                    <div class="range-slider">
                                                        <input class="slider__range" id="white_balance" type="range"
                                                            value="{{ slider['white_balance'] }} " min="0" max="500">
                                                        <span class="slider__value">0</span>
                                                    </div>
                                        

                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-6 is-description topp">
                                            <div class="inner">
                                                <div class="divider"></div>
                                                <h2 class="title is-6 is-light">Empty box to explain stuff or put camera
                                                </h2>
                                                <p>

                                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged. It was popularised in the 1960s
                                                    with the release of Letraset sheets containing Lorem Ipsum passages,
                                                    and more recently with desktop publishing software like Aldus
                                                    PageMaker including versions of Lorem Ipsum



                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                            <div id="t2" class="navtab-content">





                                <!-- Chosen select -->
                                <div class="flat-card is-auto is-element-details has-overflow">
                                    <div class="columns is-gapless is-vcentered">
                                        <div class="column is-7 is-component">
                                            <div class="inner">


                                                <h3 class="title is-6">Magic Wands</h3>

                                                <a class="button feather-button secondary-button btn-outlined is-bold"
                                                    id="eyedropper">Eyedropper</a>
                                                <a class="button feather-button secondary-button btn-outlined is-bold"
                                                    id="include_pixel">Include Pixel</a>
                                                <a class="button feather-button secondary-button btn-outlined is-bold"
                                                    id="ignore_pixel">Ignore Pixel</a>



                                                <div class="spacer"></div>





                                                <div class="columns">
                                                    <div class="column  is-3">

                                                        <label class="dropdown">Hue </label>

                                                    </div>

                                                    <div class="column is-12-percent">

                                                        <span id="hue-value1"
                                                            class="range-slider__value2 dual_slider">
                                                            {{ dual_slider['hue'][0] }} 
                                                        </span>

                                                    </div>
                                                    <div class="column is-half " style="padding-top: 22px;">
                                                        
                                                        <div id="hue" class="dualSlider" data-x="{{ dual_slider['hue'][0] }}" data-y="{{ dual_slider['hue'][1] }}"></div>
                                                    </div>
                                                    <div class="column is-12-percent">

                                                        <span id="hue-value2"
                                                            class="range-slider__value dual_slider">
                                                            {{ dual_slider['hue'][1] }} 
                                                        </span>
                                                    </div>
                                                </div>



                                                <div class="columns">
                                                    <div class="column  is-3">

                                                        <label class="dropdown">Saturation </label>

                                                    </div>

                                                    <div class="column is-12-percent">

                                                        <span id="saturation-value1"
                                                            class="range-slider__value2 dual_slider">
                                                            {{ dual_slider['saturation'][0] }} 
                                                        </span>

                                                    </div>
                                                    <div class="column is-half " style="padding-top: 22px;">
                                                        
                                                        <div id="saturation" class="dualSlider"  data-x="{{ dual_slider['saturation'][0] }}" data-y="{{ dual_slider['saturation'][1] }}"></div>
                                                    </div>
                                                    <div class="column is-12-percent">

                                                        <span id="saturation-value2"
                                                            class="range-slider__value dual_slider">
                                                            {{ dual_slider['saturation'][1] }} 
                                                        </span>
                                                    </div>
                                                </div>


                                                <div class="columns">
                                                    <div class="column  is-3">

                                                        <label class="dropdown">Value </label>

                                                    </div>

                                                    <div class="column is-12-percent">

                                                        <span id="value-value1"
                                                            class="range-slider__value2 dual_slider">
                                                            {{ dual_slider['value'][0] }} 
                                                        </span>

                                                    </div>
                                                    <div class="column is-half " style="padding-top: 22px;">
                                                        
                                                        <div id="value" class="dualSlider"  data-x="{{ dual_slider['value'][0] }}" data-y="{{ dual_slider['value'][1] }}"></div>
                                                    </div>
                                                    <div class="column is-12-percent">

                                                        <span id="value-value2"
                                                            class="range-slider__value dual_slider">
                                                            {{ dual_slider['value'][1] }} 
                                                        </span>
                                                    </div>
                                                </div>




                                                <label class="dropdown">Erosion Steps</label>
                                                <div class="control">

                                                    <div class="range-slider">
                                                        <input class="slider__range" id="erosion_steps" type="range"
                                                            value="{{ slider['erosion_steps'] }} " min="0" max="500">
                                                        <span class="slider__value">0</span>
                                                    </div>

                                                </div>

                                                <label class="dropdown">Dilation Steps</label>
                                                <div class="control">

                                                    <div class="range-slider">
                                                        <input class="slider__range" id="dilation_steps" type="range"
                                                            value="{{ slider['dilation_steps'] }} " min="0" max="500">
                                                        <span class="slider__value">0</span>
                                                    </div>

                                                </div>







                                            </div>
                                        </div>
                                        <div class="column is-4 is-description">
                                            <div class="inner">
                                                <img src="{{ url_for('video_feed') }}">


                                            </div>
                                        </div>
                                    </div>
                                </div>





                            </div>
                            <div id="t3" class="navtab-content">






                                <div class="flat-card is-auto is-element-details has-overflow">
                                    <div class="columns is-gapless is-vcentered">
                                        <div class="column is-7 is-component">
                                            <div class="inner">


                                                <h3 class="title is-6">Configuration</h3>

                    



                                                <label class="dropdown">Target Area (% of Image) </label>
                                                <div class="spacer"></div>


                                                <div class="columns">
                                                    <div class="column is-12-percent">

                                                        <span id="target-value1"
                                                            class="range-slider__value2 dual_slider">
                                                            {{ dual_slider['target'][0] }} 
                                                        </span>

                                                    </div>
                                                    <div class="column is-half " style="padding-top: 22px;">
                                                        
                                                        <div id="target" class="dualSlider"  data-x="{{ dual_slider['target'][0] }}" data-y="{{ dual_slider['target'][1] }}"></div>
                                                    </div>
                                                    <div class="column is-12-percent">

                                                        <span id="target-value2"
                                                            class="range-slider__value dual_slider">
                                                            {{ dual_slider['target'][1] }} 
                                                        </span>
                                                    </div>
                                                </div>



                                                <label class="dropdown">Target Fullness (% of bounding Rectangle)
                                                </label>

                                                <div class="spacer"></div>
                                                <div class="columns">
                                                    <div class="column is-12-percent">

                                                        <span id="fullness-value1"
                                                            class="range-slider__value2 dual_slider">
                                                            {{ dual_slider['fullness'][0] }} 
                                                        </span>

                                                    </div>
                                                    <div class="column is-half " style="padding-top: 22px;">
                                                        
                                                        <div id="fullness" class="dualSlider"  data-x="{{ dual_slider['fullness'][0] }}" data-y="{{ dual_slider['fullness'][1] }}"></div>
                                                    </div>
                                                    <div class="column is-12-percent">

                                                        <span id="fullness-value2"
                                                            class="range-slider__value dual_slider">
                                                            {{ dual_slider['fullness'][1] }} 
                                                        </span>
                                                    </div>
                                                </div>




                                                <label class="dropdown">Target Aspect Ratio (W:H) </label>

                                                <div class="spacer"></div>


                                                <div class="columns">
                                                    <div class="column is-12-percent">

                                                        <span id="aspect-value1"
                                                            class="range-slider__value2 dual_slider">
                                                            {{ dual_slider['aspect'][0] }} 
                                                        </span>

                                                    </div>
                                                    <div class="column is-half " style="padding-top: 22px;">
                                                        
                                                        <div id="aspect" class="dualSlider"  data-x="{{ dual_slider['aspect'][0] }}" data-y="{{ dual_slider['aspect'][1] }}"></div>
                                                    </div>
                                                    <div class="column is-12-percent">

                                                        <span id="aspect-value2"
                                                            class="range-slider__value dual_slider">
                                                            {{ dual_slider['aspect'][1] }} 
                                                        </span>
                                                    </div>
                                                </div>
















                                            </div>
                                        </div>
                                        <div class="column is-4 is-description">
                                            <div class="inner">
                                                <div class="divider"></div>
                                                <h2 class="title is-6 is-light">Chosen Selects</h2>
                                                <p>Chosen select boxes offer even more flexibility than native selects.
                                                    They are optimized for huge options list and display a search field
                                                    when there are 6 ore more options.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div id="t4" class="navtab-content">
                                   
                                
                                <!-- Chosen select -->
                                <div class="flat-card is-auto is-element-details has-overflow">
                                     <div class="columns is-gapless is-vcentered">
                                         
                                         <div class="column is-7 is-component">
                                             <div class="inner">
 
                                             <label class="dropdown" >Target Region</label>
                                                 <div class="control">
                                                    
                                                     <select class="chosen-select" data-placeholder="Select">
                                                         <option label="Payment method"></option>
                                                         <option value="cash">Center</option>
                                                        
                                                     </select>
                                                   
                                                 </div>

                                                 <label  class="dropdown"  >Source Image</label>
                                                 <div class="control">
                                                       
                                                         <select class="chosen-select" data-placeholder="Select">
                                                             <option label="Payment method"></option>
                                                             <option value="cash">Single Target</option>
                                                             <option value="cash">Dual Target</option>
                                                          
                                                           
                                                         </select>
                                                       
                                                     </div>

                                                     <label  class="dropdown"  >Crosshair Mode</label>
                                                     <div class="control">
                                                             
                                                             <select class="chosen-select" data-placeholder="Select">
                                                                 <option label="Payment method"></option>
                                                                 <option value="cash">Single Crosshair</option>
                                                                 <option value="credit-card">Double Crosshair</option>
                                                                 <option value="credit-card">Tri Crosshair</option>
                                                                
                                                             </select>
                                                           
                                                         </div>

                                                
                                                            
                                                             
                                                                 


                                                         <div class="spacer"></div>
                                                         <h3 class="title is-6">Crosshair A</h3>
                                    
                                                         <a class="button feather-button secondary-button btn-outlined is-bold">Calibrate XY</a>
                                                         <a class="button feather-button secondary-button btn-outlined is-bold">Only X</a>
                                                         <a class="button feather-button secondary-button btn-outlined is-bold">Only Y</a>

                                                      
                                                         <a class="button feather-button accent-button raised is-rounded is-bold">Read XY</a>
                                                        
                                                                   


                                             </div>
                                         </div>
                                         <div class="column is-5 is-description topp">
                                             <div class="inner">
                                                 <div class="divider"></div>
                                                 <h2 class="title is-5 is-light">Empty box to explain stuff or put camera</h2>
                                                 <p>

                                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 

                                                    
                                                     
                                                 </p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                          
                             </div>

          
                            </div>


                        </div>



                    </div>
                </div>



            </div>
            <!-- /Container -->
        </div>
        <!-- /Main section -->
    </div>
    <!-- /Main wrapper -->
    <!-- Concatenated plugins -->
    <script src="/static/js/app.js"></script>
    
    <script src="static/js/jqueryuimin.js"></script>
    




    <script type="text/javascript">

        var rangeSlider = function () {
            var slider = $('.range-slider'),
                range = $('.slider__range'),
                value = $('.slider__value');
            

            slider.each(function () {

                value.each(function () {
                    var value = $(this).prev().attr('value');
                    $(this).html(value);
                });

                range.on('input', function () {
                    $(this).next(value).html(this.value);
                });
            });
        };

        rangeSlider();





        $(document).on('change', '.chosen-select', function (e) {
            var id = e.target.id

            var select = $("#" + id).find(":selected").text();

            $.ajax({
                type: 'POST',
                url: "/dropdown",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({ [id]: select }),
            });

        });



        $(document).on('input', '.slider__range', function (e) {
            var clicked = $(this).val();
            //var class = $(".subclass", this).css("visibility","visible");
            var id = e.target.id

            $.ajax({
                type: 'POST',
                url: "/slider",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({ [id]: clicked }),
            });
        });

        $(function () {
            $("#eyedropper").click(function (event) {
                $('img').css('cursor', 'crosshair');

            });

            $("#include_pixel").click(function (event) {
                $('img').css('cursor', 'cell');

            });
            $("#ignore_pixel").click(function (event) {
                $('img').css('cursor', 'not-allowed');

            });

        });




            
                
      

       
    $(document).ready(function () {
        var $slider = $(".dualSlider");
        
        $slider.each(function (e) {
            
            var init_data = $(this).data();
            var id = $(this).attr('id');
            var $slide = $("#"+id);

            var x = init_data.x
            var y = init_data.y

            $slide.slider({
            range: true,
            min: 0,
            max: 255,
            values: [x, y],
            slide: function(event, ui) {

              $("#"+id+"-value1").html(ui.values[0]);
             $("#"+id+"-value2").html(ui.values[1]);
             $.ajax({
                type: 'POST',
                url: "/dual_slider",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({ [id] : ui.values }),
            });

               
            }
         });
        

        });
        
        
    });


        $(function () {
            // crosshair 
            
            $('img').click(function (e) {
                var parentOffset = $(this).offset();
                var height = $(this).height();
                var width = $(this).width();

                
                //or $(this).offset(); if you really just want the current element's offset
                var relX = e.pageX - parentOffset.left;
                var relY = e.pageY - parentOffset.top;
                var currentCursor = $(this).css('cursor') ;
                //do what you want here, i.e.


                var offsetX = (640 * relX) / width
                var offsetY = (480 * relY) / height

                if (currentCursor == 'crosshair') {
                 
                    $.ajax({
                        type: 'POST',
                        url: "/camera",
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({ eyedropper : [offsetX, offsetY] }),
                        success: function(data){
                            
                            const entries = Object.entries(data)
                            for (const [key, value] of entries) {
                                var $slider = $(`#${key}`);
 
                                $slider.slider({
                                    values: [value[0], value[1]]
                                    });

                                $(`#${key}-value1`).html(value[0]);
                                $(`#${key}-value2`).html(value[1]);

                                
                              }

                        } 
                    });


                } else if (currentCursor == 'cell') {
                    //  block of code to be executed if the condition1 is false and condition2 is true

                    $.ajax({
                        type: 'POST',
                        url: "/camera",
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({ include_pixel: [offsetX, offsetY] }),
                    });


                  } else if (currentCursor == 'not-allowed') {
                    //  block of code to be executed if the condition1 is false and condition2 is false

                    $.ajax({
                        type: 'POST',
                        url: "/camera",
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({ ignore_pixel: [offsetX, offsetY]  }),
                    });


                  }



            });



        });

  
     

      

    </script>


    
    <script src="/static/js/nephos.js"></script>





</body>

</html>